body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  height: 100vh;
  padding: 2em;
  box-sizing: border-box;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.contentColumn {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

#root {
  height: 100%;
}

.game {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.game-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.game-body {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
}